@use 'variaveis';

.hero {
    padding: 3vw;
    min-height: 80vh;
    background-image: url(../images/hero.jpg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero.jpg);
        padding-top: 50vw;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__content {
        max-width: 640px;

        &__brand {
            max-width: 320px;
            margin: 0 auto 38px;
            display: block;

            @media (max-width: 768px) {
                max-width: 180px;
            }
        }

        .title--small {
            margin-bottom: 38px;
        }

        p {
            margin-bottom: 38px;
        }

        &__filmes {
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                display: block;
            }

            &__filme {
                width: calc(50% - 12px);
                list-style: none;

                @media (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 24px;
                }

                img {
                    max-height: 240px;
                    border-radius: 12px;
                }

                button {
                    display: block;
                    width: 100%;
                    height: 60px;
                    font-size: 18px;
                    color: variaveis.$corTextoSecundario;
                    background-color: #DC143C;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 8px;
                    margin-top: 2vw;
                    margin-bottom: 8px;
                }
            }
        }
    }
}